<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427620386253-tirqi1t6aivjtaupsicpk05hfj8fqm8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427620386253-tirqi1t6aivjtaupsicpk05hfj8fqm8a</string>
	<key>API_KEY</key>
	<string>AIzaSyAmzH2snsJWffwM0-wfFekX24Pnc3Es8T0</string>
	<key>GCM_SENDER_ID</key>
	<string>427620386253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qbksimpleapp.qbkSimpleApp</string>
	<key>PROJECT_ID</key>
	<string>qbksimple</string>
	<key>STORAGE_BUCKET</key>
	<string>qbksimple.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427620386253:ios:724a005f8d063d8f327084</string>
	<key>DATABASE_URL</key>
	<string>https://qbksimple.firebaseio.com</string>
</dict>
</plist>